
dist
.solid
.output
.vercel
.netlify
netlify
.vinxi

# Environment
.env
.env*.local

# dependencies
/node_modules

# lock files
bun.lockb
yarn.lock
pnpm-lock.yaml

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
test
gitignore
.prettierrc

# System Files
.DS_Store
Thumbs.db


.vercel
