#cards {
  background-color: #ff9472;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  list-style: none;
  padding: 0.7rem;
}
#cards li {
  display: flex;
  background-color: rgb(231, 228, 228);
  justify-content: space-between;
  padding: 1rem;
}
