/* Form Styles  */
.form {
  text-align: left;
  background-color: var(--bg3);
  color: var(--text2);
  padding: 10px;
}
.form ul {
  list-style: none;
}
.form li {
  margin-bottom: 10px;
}
.form li label {
  display: block;
  color: var(--primary);
}
.form input {
  padding: 8px 10px;
  margin-top: 8px;
  background-color: #2b2121;
  color: #f7f7f7;
}
.form input:focus {
  outline: none;
  background-color: var(--primary);
  color: #121212;
}
.form input[type="color"] {
  padding: 0;
}
.form input {
  min-width: 300px;
}
.form input[type="checkbox"] {
  min-width: auto;
}
.form label,
.form input {
  margin-right: 8px;
}
.btnDiv {
  display: flex;
  justify-content: space-between;
}
.btnDiv button {
  margin: 0 2px;
}

.popup {
  background-color: var(--bg2);
  margin-top: 10px;

  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup button {
  padding: 6px;
  background-color: var(--accent);
  border: 2px solid var(--text);
  border-radius: 50%;
}
.popup button:hover {
  padding: 6px;
  color: var(--accent);
  background-color: var(--bg);
  border-radius: 50%;
}
