#myform {
  background-color: rgb(26, 25, 25);
  text-align: center;
  color: white;
  padding: 1rem 0;
}
#myform ul {
  display: flex;
  flex-direction: column;
  padding: 5rem;

  text-align: left;
  gap: 1rem;
  list-style: none;
}
#myform ul li {
  display: flex;
}
#myform label,
#myform input {
  padding: 0 1rem;
}
