/* Form Styles  */
.form {
  text-align: left;
  background-color: var(--bg2);
  color: var(--text2);
  padding: 1rem;
}
.form ul {
  list-style: none;
}
.form li {
  margin-bottom: 1rem;
}
.form li label {
  font-size: 1rem;
  display: block;
  color: var(--primary);
}
.form input {
  padding: 0.5rem 1rem;
  margin-top: 8px;
  background-color: #2b2121;
  color: #f7f7f7;
}
.form input:focus {
  outline: none;
  background-color: var(--primary);
  color: #121212;
}

.form label,
.form input {
  margin-right: 8px;
}
.btnDiv {
  display: flex;
  justify-content: space-between;
}
.btnDiv button {
  margin: 0 0.1rem;
}

.popup {
  background-color: var(--bg2);
  margin-top: 1rem;

  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup button {
  padding: 0.5rem;
  background-color: var(--accent);
  border-radius: 50%;
}
