/* header  */

.navBar {
  /* background-color: rgb(44, 27, 35); */

  padding: 10px 0px;
}

.navWrapper,
.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  align-content: space-around;
}
.navWrapper {
  justify-content: space-between;
  margin: auto;
  text-align: center;

  width: 100%;
}

.logo {
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.menu {
  list-style: none;

  gap: 10px;
}

@media (min-width: 720px) {
  .navBar {
    padding: 0;
  }
  .menu {
    margin: 0;
  }
  .logo {
    margin: 0;
  }
}
